<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Lenar>
            <version>0.1.0</version>
        </Magestore_Lenar>
    </modules>
   <frontend>
        <routers>
            <lenar>
                <use>standard</use>
                <args>
                    <module>Magestore_Lenar</module>
                    <frontName>lenar</frontName>
                </args>
            </lenar>
        </routers>
    </frontend>
    <global>
        <models>
            <lenar>
                <class>Magestore_Lenar</class>
                <entities>
                    <lenar>
                        <table>magestore_lenar</table>
                    </lenar>
                </entities>
            </lenar>
        </models>
        <resources>
            <lenar_setup>
                <setup>
                    <module>Magestore_Lenar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lenar_setup>
            <lenar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lenar_write>
            <lenar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lenar_read>
        </resources>
    </global>
   <!-- <admin>
        <routers>
            <lenar>
                <use>admin</use>
                <args>
                    <module>Magestore_Lenar</module>
                    <frontName>lenar</frontName>
                </args>
            </lenar>
        </routers>
    </admin>-->
</config>
