<?xml version="1.0"?>
<config>
    <modules>
        <Wdevelop_HelloWorld>
            <version>0.1.0</version>
        </Wdevelop_HelloWorld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Wdevelop_HelloWorld</module>
                    <frontName>hello</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
    <global>
        <models>
            <helloworld>
                <class>Wdevelop_HelloWorld_Model</class>
                <entities>
                    <helloworld>
                        <table>wdevelop_helloworld</table>
                    </helloworld>
                </entities>
            </helloworld>
        </models>
        <resources>
            <helloworld_setup>
                <setup>
                    <module>Wdevelop_HelloWorld</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helloworld_setup>
            <helloworld_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </helloworld_write>
            <helloworld_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </helloworld_read>
        </resources>
    </global>
</config>
